@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/eonasdan-bootstrap-datetimepicker/src/less/bootstrap-datetimepicker.less";
@import "_variables.less";
@import "_mixins.less";
//@import "cake.generic.less";

html, body {
    font-size: 100%;
}
.ajax-loading {
    background: url('/css/build/images/ajax-loader.gif') center center no-repeat;
    width: 16px;
    height: 16px;
    margin-left: -20px; // Fix for alignment on vendor index during ajax
}
.product-months {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    .rounded-corners(4px);
    display: flex;
    flex-flow: row wrap;
    .form-control {
        width: 50%;
        .checkbox-noborder;
    }
}
.modal {
    h4 {
        color: #000;
    }
    .modal-body {
        form {
        }
    }
}
form {
    .required label:after {
        content: '';
    }
}
footer {
    .clearfix;
}
.submit {
    margin-top: 10px;
}
.pagination {
    .disabled {
        display: none;
    }
}
.checkbox-noborder {
    display: inline;
    min-width: 200px;
    width: auto;
    border: none;
    box-shadow: none;
    input {
        margin-right: 5px;
    }
}
.table {
    display: table;
    margin-top: 15px;
    border: 1px solid #e7e7e7;
    .rounded-corners(4px);
    span {
        padding: .5em;
    }
}
.table-row {
    display: table-row;
    &:hover {
        background: @navbar-default-bg;
    }
}
.table-head {
    display: table-cell;
    text-align: center;
    font-weight: bold;
    background-color: @navbar-default-bg;
}
.table-cell {
    display: table-cell;
}
.vendors {
    &.edit {
        .checkbox { // Active checkbox
            .form-control {
                box-shadow: none;
                margin-left: 0;
            }
            label {
                margin: 9px 0 0 5px;
            }
        }
        #accordion {
            margin-top: 20px;
            &.panel-group {
                .panel {
                    padding: 0;
                    .panel-heading {
                    }
                    .panel-collapse {
                        .panel-body {
                            border-top: none;
                            display: flex;
                            flex-flow: row wrap;
                            align-items: flex-start;
                            .form-control {
                                .checkbox-noborder;
                            }
                        }
                    }
                }
            }
        }
    }
}
.schedules {
    &.index {
        .clear-schedule {
            float: left;
            margin-right: 5px;
        }
    }
}
