@import "bower_components/bootstrap/less/bootstrap.less";
@import "_variables.less";
@import "cake.generic.less";
@import "_accordion.less";

html {
    font-size: 100%;
    .ajax-loading {
        background: url('/css/build/images/ajax-loader.gif') center center no-repeat;
        width: 16px;
        height: 16px;
        margin-left: -20px; // Fix for alignment on vendor index during ajax
    }
    .modal {
        h4 {
            color: #000;
        }
        .modal-body {
            form {
                .product-months {
                    display: flex;
                    flex-flow: row wrap;
                    .form-control {
                        width: 50%;
                    }
                }
            }
        }
    }
    #container {
        #header {
            background: @mainGreen;
            h1 {
                color: @brown;
                font-weight: bold;
                font-size: 110%;
            }
            a:link, a:visited, a:hover, a:active {
                color: @brown;
            }
            h1 {
                background: url(../../img/cake.icon.png) no-repeat left;
                margin-top: 0px;
                a {
                    background: @mainGreen;
                }
            }
        }
        #admin-menu {
            width: 858px;
            list-style: none!important;
            overflow: hidden;
            li {
                display: inline;
                float: left;
                a {
                    color: #fff;
                }
            }
        }
        #content {
            background: @lightYellow;
            form {
                .required label:after {
                    content: '';
                }
                div {
                    clear: none;
                    margin-bottom: 0;
                }
                .basic-info {
                    .checkbox {
                        label {
                            float: left;
                            margin-top: 6px;
                            margin-left: -15px;
                            font-weight: bold;
                        }
                        input {
                            float: right;
                            position: static;
                            margin-right: 450px;
                        }
                    }
                }
            }
        }
        .pages.index {
            width: 100%;
            border-left: none;
        }
    }
}
