@import "bower_components/bootstrap/less/bootstrap.less";
@import "_variables.less";
@import "_mixins.less";
@import "_navigation.less";
@import "_base.less";

body {
    background: @mainGreen;
    color: @brown;
    font-family: arial;
    font-size: 14px;
}
:focus { outline: none; }
a:link:not(.btn) { color: @brown; text-decoration: underline; }
a:visited:not(.btn) { color: @brown; text-decoration: underline; }
a:hover:not(.btn) { color: @brown; text-decoration: none; }
a:active:not(.btn) { color: @brown; text-decoration: none; }

// Prevent input zoom
input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], textarea, select {
    font-size: 16px!important;
}

.btn-brown {
  .button-variant(darken(@brown, 20%); @ochre; @brown);
}

.error-message, span.required {
    color: red;
}
#admin-inner {
    background: @mainGreen;
    #admin-menu {
        width: 858px;
        margin: 0 auto;
        padding: 0 .2em 0 268px;
        list-style: none!important;
        overflow: hidden;
        text-align: center;
        li {
            display: inline;
        }
    }
}

#header {
    text-align: center;
    margin: 0 -15px;
    padding-right: 15px;
    background: @mainGreen;
    h1, h2 {
        text-align: center;
        font-style: italic;
        }
    h1 {
        margin-top: 0;
        padding-top: 1.2em;
        font-size: 24px;
        font-family: arial;
        font-size: 30px;
        font-weight: bold;
    }
    h2 {
        text-align: center;
    }
    .logo {
        margin-bottom: 5px;
        @media (max-width: @screen-xs-max) {
            margin-left: 15px;
        }
        img {
            margin: auto;
        }
    }
    .head-right {
        @media (min-width: @screen-md-min) {
            position: relative;
            height: 200px;
            padding-left: 0px;
        }
    }
}

.products {
    form {
        padding: 0 30px;
        div {
            .clearfix();
            label {
                width: 140px;
                float: left;
                text-align: right;
                margin: 5px 5px 0px;
            }
            @media (max-width: @screen-sm-min) {
                label {
                    text-align: left; 
                    width: 100%;
                }
            }
            @media (min-width: @screen-md-min) {
                label {
                    width: 200px;
                    margin-top: 10px;
                }
            }
        }
    }
}

.sponsors {
    .row {
        margin-bottom: 40px;
    }
    .sponsor { 
        margin: auto; 
        h3 { 
            padding: 0 0 0 30px; 
        }
        &.gold, &.silver { 
            width: 100%; 
            float: none; 
            padding-bottom: 10px; 
        }
    }
}

.container-fluid {
    background: @yellowBg;
    .content {
        padding-top: 15px;
        padding-bottom: 15px;
        .carousel-wrapper {
            text-align: center;
            .carousel {
                .carousel-inner{
                    text-align: center;
                    .item {
                        text-align: center;
                        overflow: hidden;
                        .crop {
                            max-width: 640px;
                            max-height: 280px;
                            overflow: hidden;
                            margin: auto;
                            img {
                                @media (max-width: @screen-xs-max) { 
                                    margin-top: -40px;
                                    margin-bottom: -60px;
                                }
                                @media (min-width: @screen-xs-max) { 
                                    position: relative;
                                    top: -100px;
                                    margin-bottom: -100px; 
                                }
                            }
                        }
                    }
                }
                .carousel-control {
                    background-image: none;
                    width: 10%;
                }
            }
        }
    }
    .home-right {
        margin-top: 10px;
		p {
			margin: 0 0 10px;
			padding: 0;
		}
        a {
            position: relative;
            .glyphicon {
                .rounded-corners(14px);
                border: 1px solid @lightYellow;
                padding: 5px;
                background: @lightYellow;
                color: @brown;
                display: inline;
                position: absolute;
                top: 8px;
                right: 8px;
            }
        }
    }
    #map {
        @media (max-width: @screen-xs-max) {
            position: relative;
            padding-bottom: 75%;
            height: 0;
            overflow: hidden;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
    #footer {
        font-size: 12px;
        text-align: center;
        background: @mainGreen;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
