@import "bower_components/bootstrap/less/bootstrap.less";
@import "_variables.less";
@import "min-base.less";
@import "_accordion.less";

@media (max-width: @screen-xs-max) { 
    .nav {
        //outline: 1px solid purple; 
    }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
    .nav {
        //outline: 1px solid green; 
    }     
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 
    .nav {
        //outline: 1px solid blue;
    }
}
@media (min-width: @screen-lg-min) { 
    .nav {
        //outline: 1px solid red; 
    }
}
body { background: @mainGreen; color: @brown; font-family: arial; font-size: 12px; }
:focus { outline: none; }
a:link:not(.btn) { color: @brown; text-decoration: underline; }
a:visited:not(.btn) { color: @brown; text-decoration: underline; }
a:hover:not(.btn) { color: @brown; text-decoration: none; }
a:active:not(.btn) { color: @brown; text-decoration: none; }

// Prevent input zoom
input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], textarea, select { 
    font-size: 16px!important; 
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
}

.btn-brown {
  .button-variant(darken(@brown, 20%); @ochre; @brown);
}

.navbar-default {
    .container-fluid {
        background: @lightYellow;
    }
    border-color: @ochre;
    .navbar-nav {
        >li {
            >a {
                color: @brown;
            }
        }
    }
    .navbar-brand {
        color: @brown;
    }
    .navbar-toggle {
        border-color: @ochre;
        background: @lightYellow;
        .icon-bar {
            background-color: @ochre;
        }
        &:focus, &:hover {
            background: @yellowBg;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .navbar-collapse {
        ul {
            float: none;
            width: 100%;
            li {
                float: none;
                display: table-cell;
                width: 1%;
                a.active, a:hover.active {
                    background: @yellowBg;
                }
            }
        }
    }
}
@media (max-width: @screen-xs-max) { 
    .navbar-default {
        .navbar-collapse {
            border-color: @ochre;
            li {
                text-align: left;
                a:hover {
                    background: @yellowBg;
                }
            }
        }
    }
}
.error-message, span.required {
    color: red;
}
#admin-inner {
    background: @mainGreen;
    #admin-menu {
        width: 858px;
        margin: 0 auto;
        padding: 0 .2em 0 268px;
        list-style: none!important;
        overflow: hidden;
        text-align: center;
        li {
            display: inline;
        }
    }
}

#header {
    text-align: center;
    margin: 0 -15px 16px;
    background: @mainGreen;
    h1, h2 {
        text-align: center;
        font-style: italic;
        }
    h1 {
        margin-top: 0;
        padding-top: 1.2em;
        font-size: 24px;
        font-family: arial;
        font-size: 30px;
        font-weight: bold;
    }
    h2 {
        text-align: center;
    }
    .logo {
        margin-bottom: 5px;
        img {
            margin: auto;
        }
    }
    .navbar-brand {
        @media (max-width: @screen-xs-min) {
            .text-overflow();
            display: inline-block;
            max-width: 240px;
        }
    }
    .head-right {
        .navbar {
            margin-bottom: 0px;
        }
        @media (max-width: @screen-sm-min) {
            .navigation {
                margin-top: 5px;
            }
        }
        @media (min-width: @screen-md-min) {
            position: relative;
            height: 200px;
            padding-left: 0px;
            .navigation {
                position: absolute;
                bottom: 0;
                right: 0;
                .navbar {
                    margin-bottom: 0px;
                    min-height: 42px;
                    &.navbar-default {
                        border: none;
                        .container-fluid {
                            background: @mainGreen;
                            .navbar-nav {
                                >li {
                                    >a {
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        &.active {
                                            background: @ochre;
                                            border: 1px solid @brown;
                                            color: black; 
                                            .rounded-corners;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 

.products {
    form {
        padding: 0 30px;
        div {
            .clearfix();
            label {
                width: 140px;
                float: left;
                text-align: right;
                margin: 5px 5px 0px;
            }
            @media (max-width: @screen-sm-min) {
                label {
                    text-align: left; 
                    width: 100%;
                }
            }
            @media (min-width: @screen-md-min) {
                label {
                    width: 200px;
                    margin-top: 10px;
                }
            }
        }
    }
}

.sponsor { 
    margin: auto; 
    h3 { 
        padding: 0; 
    }
    p { 
        text-align: center; 
    }
    &.gold { 
        border-bottom: 1px solid @lightYellow; 
    }
    &.gold, &.silver { 
        width: 100%; float: none; text-align: center; padding-bottom: 10px; 
    }
}

.container-fluid {
    background: @yellowBg;
    .content {
        padding-top: 15px;
        padding-bottom: 15px;
        .carousel-wrapper {
            text-align: center;
            .carousel {
                .carousel-inner{
                    text-align: center;
                    .item {
                        text-align: center;
                        overflow: hidden;
                        .crop {
                            max-width: 640px;
                            max-height: 280px;
                            text-align: center;
                            overflow: hidden;
                            display: block;
                            margin: auto;
                            img {
                                position: relative;
                                top: -100px;
                                margin-bottom: -100px; 
                            }
                        }
                    }
                }
                .carousel-control {
                    background-image: none;
                    width: 10%;
                }
            }
        }
    }
    .home-right {
        margin-top: 10px;
        .glyphicon {
            float: right;
            .rounded-corners(14px);
            border: 1px solid @lightYellow;
            padding: 5px;
            background: @lightYellow;
            margin-top: -4px;
            color: @brown;
        }
    }
    #footer {
        text-align: center;
        background: @mainGreen;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
