@import "bower_components/bootstrap/less/bootstrap.less";
@import "_variables.less";
//@import "colorbox.less";
@import "min-base.less";
@import "_accordion.less";

@media (max-width: @screen-xs-max) { 
    .nav {
        //outline: 1px solid purple; 
    }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
    .nav {
        //outline: 1px solid green; 
    }     
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 
    .nav {
        //outline: 1px solid blue;
    }
}
@media (min-width: @screen-lg-min) { 
    .nav {
        //outline: 1px solid red; 
    }
}
body { background: @mainGreen; color: @brown; font-family: arial; font-size: 12px; }
:focus { outline: none; }
a:link:not(.btn) { color: @brown; text-decoration: underline; }
a:visited:not(.btn) { color: @brown; text-decoration: underline; }
a:hover:not(.btn) { color: @brown; text-decoration: none; }
a:active:not(.btn) { color: @brown; text-decoration: none; }

// Prevent input zoom
input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], textarea, select { 
    font-size: 16px!important; 
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
}

.btn-brown {
  .button-variant(darken(@brown, 20%); @ochre; @brown);
}
.navbar-default {
    .container-fluid {
        background: @lightYellow;
    }
    border-color: @ochre;
    .navbar-nav {
        >li {
            >a {
                color: @brown;
            }
        }
    }
    .navbar-brand {
        color: @brown;
    }
    .navbar-toggle {
        border-color: @ochre;
        background: @lightYellow;
        .icon-bar {
            background-color: @ochre;
        }
        &:focus, &:hover {
            background: @yellowBg;
        }
    }
}
@media (min-width: @screen-sm-min) {
    .navbar-collapse {
        ul {
            float: none;
            width: 100%;
            li {
                float: none;
                display: table-cell;
                width: 1%;
            }
        }
    }
}
@media (max-width: @screen-xs-max) { 
    .navbar-default {
        .navbar-collapse {
            border-color: @ochre;
            li {
                text-align: left;
                a:hover {
                    background: @yellowBg;
                }
            }
        }
    }
}
.error-message, span.required {
    color: red;
}
#admin-inner {
    background: @mainGreen;
    #admin-menu {
        width: 858px;
        margin: 0 auto;
        padding: 0 .2em 0 268px;
        list-style: none!important;
        overflow: hidden;
        text-align: center;
        li {
            display: inline;
        }
    }
}


#header {
    text-align: center;
    margin: 0 -15px 16px;
    background: @mainGreen;
    h1, h2 {
        text-align: center;
        font-style: italic;
        }
    h1 {
        margin-top: 0;
        padding-top: 1.2em;
        font-size: 24px;
        font-family: arial;
        font-size: 30px;
        font-weight: bold;
    }
    h2 {
        text-align: center;
    }
    .logo {
        margin-bottom: 5px;
        img {
            margin: auto;
        }
    }
    .navbar-brand {
        @media (max-width: @screen-xs-min) {
            .text-overflow();
            display: inline-block;
            max-width: 240px;
        }
    }
    .head-right {
        .navbar {
            margin-bottom: 0px;
        }
        @media (max-width: @screen-sm-min) {
            .navigation {
                margin-top: 5px;
            }
        }
        @media (min-width: @screen-md-min) {
            position: relative;
            height: 200px;
            padding-left: 0px;
            .navigation {
                position: absolute;
                bottom: 0;
                right: 0;
                .navbar {
                    margin-bottom: 0px;
                    &.navbar-default {
                        border: none;
                        .container-fluid {
                            background: @mainGreen;
                            .active {
                                background: @ochre;
                                border: 1px solid @brown;
                                color: black; 
                                .rounded-corners;
                            }
                        }
                    }
                }
            }
        }
    }
} 

#right {
    margin-left: 268px;
    width: 590px;
    overflow: hidden;
    background: @ochre;
    #content {
        margin: 10px;
        background: @lightYellow;
        #map {
            margin: 0 auto;
            text-align: center;
        }
        h2, h3, h4 {
            text-align: center;
        }
        h2 {
            line-height: 1.4;
            font-style: italic;
        }
        h4 {
            font-style: italic;
        }
        li {
            margin-top: 0;
        }
        li:first-child {
            margin-top: 1.2em;
        }
        .vendors.add {
            .col1, .col2 {
                width: 49%;
                float: left;
            }
            .form-control {
                padding-top: 0px;
                margin-top: 0px;
            }
            .checkbox {
                input {
                    margin-top: 2px;
                    margin-left: 0;
                }
            }
            label {
                padding-top: 0;
            }
        }
    }
}

#right #content #content-inner { margin-bottom: 10px; overflow: hidden; padding: 0 30px; }
#right #content #content-inner p, #right #content #content-inner h1, #right #content #content-inner h2 { padding: 0px; }

.products {
    form {
        padding: 0 30px;
        div {
            .clearfix();
            label {
                width: 140px;
                float: left;
                text-align: right;
                margin: 5px 5px 0px;
            }
            @media (max-width: @screen-sm-min) {
                label {
                    text-align: left; 
                    width: 100%;
                }
            }
        }
    }
    .top {
        .results {
        }
        .product-select {
        }
    }
    .bottom {
        clear: both;
        .col1 {
            float: left; 
            width: 255px;
        }
        .col2 {
            margin-left: 255px;
        }
    }
}

#right table#vendors td { padding: .2em 2em .2em 0; }
#right .sponsor { width: 106px; margin: auto; }
#right .sponsor h3 { padding: 0; }
#right .sponsor p { text-align: center; }
#right .gold { border-bottom: 1px solid @lightYellow; }
#right .gold, #right .silver { width: 100%; float: none; text-align: center; padding-bottom: 10px; }

#right #content #footer { text-align: center; clear: both; }

.container-fluid {
    background: @yellowBg;
    .content {
        padding-top: 15px;
        padding-bottom: 15px;
        .carousel-wrapper {
            text-align: center;
            .carousel {
                .carousel-inner{
                    text-align: center;
                    .item {
                        text-align: center;
                        overflow: hidden;
                        .crop {
                            max-width: 640px;
                            max-height: 280px;
                            text-align: center;
                            overflow: hidden;
                            display: block;
                            margin: auto;
                            img {
                                position: relative;
                                top: -100px;
                                margin-bottom: -100px; 
                            }
                        }
                    }
                }
                .carousel-control {
                    background-image: none;
                    width: 10%;
                }
            }
        }
    }
    .home-right {
        margin-top: 10px;
    }
    #footer {
        text-align: center;
        background: @mainGreen;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
